/*super-freq.css*/
:root {
    --lightest-gray: #eee;
    --light-gray: #aaa;
    --mid-gray: #999;
    --dark-gray: #666;
    --darkest-gray: #333;

    --background-color: var(--lightest-gray);
    --color: var(--darkest-gray);

    --font-family: -apple-system, BlinkMacSystemFont,
                    "Segoe UI", "Roboto", "Oxygen",
                    "Ubuntu", "Cantarell", "Fira Sans",
                    "Droid Sans", "Helvetica Neue", sans-serif;

    --font-size: 14px;
    --line-height: 1.5;
    --h1-size: 2.5em;
    --h2-size: 2em;
    --h3-size: 1.75em;
    --h4-size: 1.25em;
    --h5-size: 1em;
    --h6-size: 0.75em
}

/* Reset */



/* Fonts */

/* Native font stack: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
body {
    color: var(--color);
    line-height: var(--line-height);
    background-color: var(--background-color);
    font-family: var(--font-family);
}

/* Text Element Styles */

p {}
strong {}
em {}
i {}
b {}
q {}

mark { background-color: #ffff0077 }

blockquote { 
    border-left: var(--light-gray) 1px solid;
    margin-left: 0;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

blockquote.reverse {
    text-align: right;
    border: none;
    border-right: var(--light-gray) 1px solid;
    margin-right: 0;
    padding-left: 0;
    padding-right: 2em;
}

h1 { font-size: var(--h1-size) }
h2 { font-size: var(--h2-size) }
h3 { font-size: var(--h3-size) }
h4 { font-size: var(--h4-size) }
h5 { font-size: var(--h5-size) }
h6 { font-size: var(--h6-size) }



/* Colors */
/* Color Scheme Variables */

/* Color Schemes */

/* scheme-light */

/* scheme-dark */


/* Headings */


/* Buttons */
button {

}

/* Layout */

/* center in row */

/* center in col */

/* left in row */

/* right in row */


/* Cards */

/* CTA */

/* Headers */

/* Footers */

/* Drop Down Menu */

/* Forms */

input, select {
	--size: 1;
	display: block;
	width: 100%;
	padding: calc(.375rem * var(--size)) calc(.75rem * var(--size));
	font-size: calc(1rem * var(--size));
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	margin: 1rem;
	transition: border-color 0.2s linear, box-shadow 0.2s;
}

input {
	
}

select {
	height: calc(1.5rem + 1rem);
}

label {
	display: flex;
	justify-content: flex-start;
	align-items: center
}

label > input {
	width: auto
}

label.disabled {
	opacity: 0.65;
}

.header {
	color: var(--light-gray);
	background-color: var(--dark-gray);
	width: 100%;
}


